<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件基础01</title>
    <script src="../js/vue.min.js"></script>
</head>
<body>
    <div id="mydiv">
        <h3>组件的复用</h3>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <hr>

        <h3>通过prop向子组件传递数据</h3>
        <p>当一个值传递给一个prop特性的时候，它就变成了那个组件实例的一个属性</p>
        <blog-post title="jaja"></blog-post>
        <hr>

        <h3>单个根元素,一个组件中只能拥有一个根元素</h3>
        <blog-post-new 
            v-for="post in posts" 
            :key="post.id"
            :post="post"
        >
        </blog-post>
        <hr>

        <h3>监听子组件事件</h3>
        <div :style="{fontSize: postFontSize + 'em'}">
            <blog-post-event
                v-for="post in posts" 
                :key="post.id"
                :post="post"
                v-on:enlarge="postFontSize += 0.1"
            ></blog-post-event>
        </div>
    </div>
    <script>
        Vue.component("button-counter",{
            data:function(){
                return {
                    count:0
                }
            },
            template:'<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        })

        Vue.component("blog-post",{
            props:['title'],  //传进来的是一个属性
            template:"<h3>{{title}}</h3><div v-html></div>" 
        })

        Vue.component("blog-post-new",{
            props:['post'],   //传进来的是一个对象
            template:"<div><h3>{{post.title}}</h3><div v-html='post.contents'></div></div>"  //一个组件中只能拥有一个根元素
        })

        //vue使用$emit时，父组件无法监听到子组件的事件的原因是$emit传入的事件名称只能使用小写，不能使用大写的驼峰规则命名
        Vue.component("blog-post-event",{
            props:['post'],   
            template:`<div>
                        <h3>{{post.title}}</h3>
                        <button v-on:click="$emit('enlarge')">
                            Enlage text
                        </button>
                        <div v-html="post.contents"></div>
                     </div>`  //添加一个按钮
        })

        var vm = new Vue({
            el:"#mydiv",
            data:{
                posts:[
                    {id:1,title:"kobe",contents:"this is a grate basketballer..."},
                    {id:2,title:"bryant",contents:"this is his name"}
                ],
                postFontSize:2
            }
        })

    </script>
</body>
</html>